{% extends 'base.html' %}
{% block content %}

<div class='certificates'>
    {% for c in certificates %}
        <div class='certificate' style = 'width: 100%;'>
            <img src='/media/{{c.image}}' style='width: 150px; float: left'/>
            <p>{{c.name}}</p>
            <p><a href = '/media/{{c.document}}'>Скачать...</a></p>
            <div class='clear'></div>
        </div>
    {% endfor %}
    </ul>
</div>
<br />
<p><strong>Буквенные индексы видов надзора:</strong></p>
<ul>
<li>У - надзор в угольной промышленности</li>
<li>Г - надзор в горнорудной и нерудной промышленности</li>
<li>О - надзор за охраной недр и маркшейдерскими работами</li>
<li>В - надзор за производством, хранением и применением взрывчатых материалов промышленного назначения</li>
<li>Х - надзор за взрывопожароопасными, химически опасными объектами и объектами спецхимии</li>
<li>Ж - надзор за транспортированием опасных веществ</li>
<li>З - надзор за взрывоопасными объектами хранения и переработки растительного сырья</li>
<li>М - надзор за металлургическими и коксохимическими производствами и объектами</li>
<li>Н - надзор за объектами нефтехимической и нефтеперерабатывающей промышленности</li>
<li>Д - надзор за объектами нефтегазодобычи и магистрального трубопроводного транспорта</li>
<li>С - надзор за газораспределением и газопотреблением</li>
<li>П - надзор за подъемными сооружениями</li>
<li>К - надзор за оборудованием, работающим под давлением, тепловыми установками и сетями</li>
<li>Э - надзор за электростанциями и электрическими сетями</li>
</ul>

{% endblock %}