<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script type="text/javascript" src="/static/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>

    {% if contacts %}
        <script type="text/javascript">
        $(function(){
            {% for c in contacts %}
                $('#send_mail_{{c.id}}_dialog').dialog({
                                autoOpen: false,
                                width: 400,
                                buttons: {
                                        "Отправить": function() {  $('#send_mail_{{c.id}}_form').submit(); $(this).dialog("close");},
                                        "Отмена": function() { $(this).dialog("close"); }
                                }
                        });
                
                $('#send_mail_{{c.id}}_link').click(function(){
                        $('#send_mail_{{c.id}}_dialog').dialog('open');
                });

                {% if contact_id %}
                    {% if contact_id == c.id %}
                        $('#send_mail_{{c.id}}_dialog').dialog('open');
                    {% endif %}
                {% endif %}
                
            {% endfor %}
        })
        </script>
    {% endif %}

</head>
<body>
<div class="popup-wrp">
    <div class="popup">
        <form action="">
            <div class="popup__title">Заказать обратный звонок</div>
            <label for="user-name">Ваше имя:</label>
            <input type="text" name="user-name" id="user-name"/>
            <label for="user-phone">Ваш телефон:</label>
            <input type="text" name="user-phone" id="user-phone"/>
            <a href="#" class="popup__btn">Отправить</a>
        </form>
        <div class="popup-close">X</div>
    </div>
</div>
<div class="wrapper">
    <header class="header">
        <div class="header__logo"></div>
        <div class="header__slider__wrp">
            <div class="header__slider">
                <img src="/static/img/img1.jpg" alt=""/>
                <img src="/static/img/img1.jpg" alt=""/>
                <img src="/static/img/img1.jpg" alt=""/>
                <img src="/static/img/img1.jpg" alt=""/>
            </div>
            <div class="header__slider__text__wrp">
                <div class="header__slider__text">
                    Экспертиза промышленной безопасности проектной 1 <br/>
                    документации на строительство
                </div>
                <div class="header__slider__text">
                    Экспертиза промышленной безопасности проектной 2 <br/>
                    документации на строительство
                </div>
                <div class="header__slider__text">
                    Экспертиза промышленной безопасности проектной 3 <br/>
                    документации на строительство
                </div>
                <div class="header__slider__text">
                    Экспертиза промышленной безопасности проектной 4 <br/>
                    документации на строительство
                </div>
            </div>
            <div class="header__slider__nav">
                <span class="header__slider__nav__i">  </span>
                <span class="header__slider__nav__i">  </span>
                <span class="header__slider__nav__i">  </span>
                <span class="header__slider__nav__i">  </span>

            </div>
        </div>
        <div class="header__info">
            <div class="header__phone">
                (495)<span class="header__phone__i">452-29-76</span>   <br/>
                (495)<span class="header__phone__i">452-53-03</span>
            </div>
            <div class="header__mail"><a href="mailto:anodiexne@mail.ru"> anodiexne@mail.ru </a>
                <a href="mailto:info@dieks.ru"> info@dieks.ru</a></div>
            <div class="header__btn header__btn-application"> online
                заявка
            </div>
            <div class="header__btn header__btn-call"> Заказать
                звонок
            </div>
        </div>
    </header>
    <nav class="g-nav">
        <a href="/about/">О компании</a>
        <a href="/licenses/">Лицензии</a>
        <a href="/evidences/">Свидетельства</a>
        <a href="/partners/">Партнеры</a>
        <a href="/proposals/">Формы заявки</a>
        <a href="/quality/">Политика в области качества</a>
        <a href="/contacts/">Контакты </a>
        <a href="/map/">Карта сайта</a>
    </nav>
    <div class="container">
        <div class="sidebar sidebar_left">
            <div class="search">
<!--                 <input type="search" placeholder="Поиск по сайту"/> -->
                <br />
            </div>
            <nav class="sidebar__nav">
                <ul>
                    <li><a href="/ekspertiza-promyishlennoj-bezopasnosti/">Экспертиза промышленной<br/> безопасности</a></li>
                    <li><a href="/sertifikatsiya-tehnicheskih-ustrojstv/">Сертификация технических<br/> устройств</a></li>
                    <li><a href="/attestatsiya-lnk/">Аттестация ЛНК</a></li>
                    <li><a href="/attestatsiya-ekspertov-es-os/">Аттестация экспертов ЕС ОС</a></li>
                    <li><a href="/attestatsiya-spetsialistov-nk-1-i-2-urovnej/">Аттестация специалистов  <br/> НК 1 и 2 уровней</a></li>
                    <li><a href="/energoaudit/">Энергоаудит</a></li>
                </ul>
            </nav>

        </div>
        <div class="content inner">
            <h1>{{page_header}}</h1>
            
            {% block content %}
            {% endblock %}

        </div>
        <div class="sidebar sidebar_right">
            <div class="sidebar_right__title"> ОТЗЫВЫ КЛИЕНТОВ</div>
            <div class="review-block">
                <div class="review-logo"><img src="/static/img/gazprom.jpg" alt="Газпром"/></div>
                <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="review-block">
                <div class="review-logo"><img src="/static/img/baupark.jpg" alt="Baupark"/></div>
                <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="review-block">
                <div class="review-logo"><img src="/static/img/invest.jpg" alt="Содружество-инвест"/></div>
                <p class="review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <a href="" class="review-btn">Все отзывы</a>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__info">
            <div class="footer__info__logo"><span class="footer__mark">АНО «ДИЭКС» </span>© 1991 — 2013</div>
            <p>Подготовка, аттестация, экспертиза в области неразрушаюшего
                контроля и промышленной безопасности</p>

        </div>
        <div class="footer__address">
            <p>Москва, Головинское шоссе, д. 8. корп. 2А (2 этаж)</p>

            <p>Тел.: <span class="footer__address__phone">(495) 452-29-76, 452-53-03, 730-75-90</span></p>

            <p> Моб. тел.:<span class="footer__address__phone"> +7 (903) 710-41-50</span></p>
<!--             <a href='http://webgenesis.ru/' target='blank'>Создание сайта www.webgenesis.ru</a> -->
        </div>
        <a href="#" class="footer__map"><img src="/static/img/Maps.png" alt=""/>
            На карте
        </a>
        
        <div class="footer__counter"><img src="/static/img/footer_icon.jpg"/>
        </div>
    </footer>
</div>
</body>
</html>


<!--

                <ul>
                    <li {%if 'news' in request_url %} class='selected' {% endif %}><a href='/'>Новости</a></li>
                    <li {%if 'services' in request_url %} class='selected' {% endif %}><a href='/page/services'>Услуги</a></li>
                    
                </ul>
               
-->
