{% load thumbnail %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
	<meta name='yandex-verification' content='50815290409a2f94' />
    {{ header|safe }}
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/colorbox.css"/>
    <script type="text/javascript" src="/static/jquery-1.7.2.min.js"></script>

    {% if contacts %}
        <link rel="stylesheet" type="text/css" href="/static/jquery-ui-1.8.20.custom.css" />
        <script type="text/javascript" src="/static/jquery-ui-1.8.20.custom.min.js"></script>
    
        <script type="text/javascript">
        $(function(){
            {% for c in contacts %}
                $('#send_mail_{{c.id}}_dialog').dialog({
                                autoOpen: false,
                                width: 400,
                                buttons: {
                                        "Отправить": function() {  $('#send_mail_{{c.id}}_form').submit(); $(this).dialog("close");},
                                        "Отмена": function() { $(this).dialog("close"); }
                                }
                        });
                
                $('#send_mail_{{c.id}}_link').click(function(){
                        $('#send_mail_{{c.id}}_dialog').dialog('open');
                });

                {% if contact_id %}
                    {% if contact_id == c.id %}
                        $('#send_mail_{{c.id}}_dialog').dialog('open');
                    {% endif %}
                {% endif %}
                
            {% endfor %}
        })
        </script>
    {% endif %}
    
    <script type="text/javascript" src="/static/script.js"></script>
    <script type="text/javascript" src="/static/js/jquery.colorbox-min.js"></script>
    
        <script type="text/javascript">
            $(function(){
                $(window).scroll(function(){
                    var wh = $(window).height();
                    var st = $(window).scrollTop();
                    var bh = $('body').height();
                    var fh = $('#services-side').height();
                    
                    if ( st > 278 ){ // если середина
                        $('#services-side').css({'position': 'fixed', 'top': '20px' });
                        
                    } else {
                        $('#services-side').css({
                            'top': '278px',
                            'bottom': 'auto',
                            'position': 'absolute'
                        });
                    }
                });    
            })
            
             $(document).ready(function () {
                $(".gallery").each(function (index, v) {
                    $(this).find('.gallery__item').colorbox({rel: 'gallery' + index });
                });
            });
        </script>

</head>
<body>

<div class="popup-wrp">
    <div class="popup">
        <form method='POST'>
            <div class="popup__title">Заказать обратный звонок</div>
            <p style='color: red; font-size: 1.2em'>{{ msg }}</p>
            <label for="user-name">Ваше имя:</label>
            <input type="text" id="user-name"  name="name" value='{% if callform.name.value %}{{ callform.name.value }}{% endif %}' {% if callform.errors.name %} style='border: 1px solid red' {% endif %} />
            <label for="user-phone">Ваш телефон:</label>
            <input type="text" id="user-phone" name="phone" value='{% if callform.phone.value %}{{ callform.phone.value }}{% endif %}' {% if callform.errors.name %} style='border: 1px solid red' {% endif %} />
            <input type='submit' class="popup__btn" value='Отправить'/>
            <input type='hidden' name='action' value='call'>
            {% csrf_token %}
        </form>
        <div class="popup-close">X</div>
    </div>
</div>

{% if show_callform %}
    <script>
        $(".popup-wrp").fadeIn(500);
    </script>
{% endif %}


<div class="popup-wrp-r">
    <div class="popup">
        <form method='POST'>
            <div class="popup__title">Онлайн заявка</div>
            <p style='color: red; font-size: 1.2em'>{{ msg }}</p>
            <label for="user-name">Ваше имя:</label>
            <input type="text" id="user-name"  name="name" value='{% if requestform.name.value %}{{ requestform.name.value }}{% endif %}' {% if requestform.errors.name %} style='border: 1px solid red' {% endif %} />
            <label for="user-phone">Ваш телефон:</label>
            <input type="text" id="user-phone" name="phone" value='{% if requestform.phone.value %}{{ requestform.phone.value }}{% endif %}' {% if requestform.errors.name %} style='border: 1px solid red' {% endif %} />
            <label for="user-text">Текст заявки:</label>
            <textarea id="user-text" name="text">{% if requestform.text.value %}{{ requestform.text.value }}{% endif %}</textarea>
            <input type='submit' class="popup__btn" value='Отправить'/>
            <input type='hidden' name='action' value='request'>
            {% csrf_token %}
        </form>
        <div class="popup-close-r">X</div>
    </div>
</div>

{% if show_requestform %}
    <script>
        $(".popup-wrp-r").fadeIn(500);
    </script>
{% endif %}

<div class="wrapper">
    <header class="header">
        <a href='/'><div class="header__logo"></div></a>
        <div class="header__slider__wrp">
            <div class="header__slider">
                {% for s in slideshow %}
                    <img src="/media/{{ s.image }}" alt=""/>
                {% endfor %}
            </div>
            <div class="header__slider__text__wrp">
                {% for s in slideshow %}
                    <div class="header__slider__text">
                        {{ s.content|safe }}
                    </div>
                {% endfor %}
                
            </div>
            <div class="header__slider__nav">
                {% for s in slideshow %}
                    <span class="header__slider__nav__i">  </span>
                {% endfor %}
            </div>
        </div>
        <div class="header__info">
            <div class="header__phone">
                (495)<span class="header__phone__i">452-29-76</span>   <br/>
                (495)<span class="header__phone__i">452-53-03</span>
            </div>
            <div class="header__mail"><a href="mailto:anodiexne@mail.ru"> anodiexne@mail.ru </a>
                <a href="mailto:info@dieks.ru"> info@dieks.ru</a></div>
            <div class="header__btn header__btn-application"> online
                заявка
            </div>
            <div class="header__btn header__btn-call"> Заказать
                звонок
            </div>
        </div>
    </header>
    <nav class="g-nav">
        <a href="/about/">О компании</a>
        <a href="/licenses/">Лицензии</a>
        <a href="/evidences/">Свидетельства</a>
        <a href="/partners/">Партнеры</a>
        <a href="/proposals/">Формы заявки</a>
        <a href="/quality/">Политика в области качества</a>
        <a href="/contacts/">Контакты </a>
        <a href="/gallery/">Галерея</a>
    </nav>
    <div class="container">
        <div class="sidebar sidebar_left" >
            <div class="search">
                <input type="search" placeholder="Поиск по сайту"/>
                <br />
            </div>
            <nav class="sidebar__nav" id='services-side'>
                <ul>
                    <li><a href="/ekspertiza-promyishlennoj-bezopasnosti/">Экспертиза промышленной<br/> безопасности</a></li>
                    <li style='height: 60px'><a href="/attestatsiya-lnk/">Аттестация лабораторий <br /> неразрушающего контроля, <br />электролабораторий</a></li>
                    <li><a href="/attestatsiya-ekspertov-es-os/">Аттестация экспертов ЕС ОС</a></li>
                    <li><a href="/attestatsiya-spetsialistov-nk-1-i-2-urovnej/">Аттестация специалистов  <br/> НК 1 и 2 уровней</a></li>
                    <li><a href="/energoaudit/">Энергоаудит</a></li>
			<li style='height: 60px'><a href="/akkreditatsiya-eo-il-namts/">Аккредитация экспертных <br />организаций, испытательных <br />лабораторий, НАМЦ</a></li>
                </ul>
            </nav>

        </div>
        <div class="content inner">
            <h1>{{page_header}}</h1>
            
            {% block content %}
            {% endblock %}

        </div>
        <div class="sidebar sidebar_right">
            <div class="sidebar_right__title"> ОТЗЫВЫ КЛИЕНТОВ</div>
            {% for r in reviews %}
                <div class="review-block">
                    <div class="review-logo gallery">
                        {% thumbnail r.image "180" as im %}
                            <a class="gallery__item" href="/media/{{ r.image }}" title="{{ r.name }}" style='padding: 0px; margin: 0px'>
                                <img src="{{ im.url }}" alt="{{ r.name }}"/>
                            </a>
                        {% endthumbnail %}
                    </div>
                    <p class="review-text">{{ r.name }}</p>
                </div>
            {% endfor %}
            <a href="/partners/" class="review-btn">Все отзывы</a>
        </div>
    </div>
    <footer class="footer">
        <div class="footer__info">
            <div class="footer__info__logo"><span class="footer__mark">АНО «ДИЭКС» </span>© 1991 — 2013</div>
            <p>Подготовка, аттестация, экспертиза в области неразрушаюшего
                контроля и промышленной безопасности</p>

        </div>
        <div class="footer__address">
            <p>Москва, Кронштадтский бульвар 7A, офис 406</p>

            <p>Тел.: <span class="footer__address__phone">(495) 452-29-76, 452-53-03, 730-75-90</span></p>

            <p> Моб. тел.:<span class="footer__address__phone"> +7 (903) 710-41-50</span></p>
<!--             <a href='http://webgenesis.ru/' target='blank'>Создание сайта www.webgenesis.ru</a> -->
        </div>
        <a href="/contacts/" class="footer__map"><img src="/static/img/Maps.png" alt=""/>
            На карте
        </a>
        
<!--         <div class="footer__counter"><img src="/static/img/footer_icon.jpg"/></div> -->
    </footer>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter24655760 = new Ya.Metrika({id:24655760,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/24655760" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
