{% extends 'base.html' %}
{% block content %}

<div class='contacts-container'>
    <p>
    <strong>E-mail: </strong><a href="mailto:info@dieks.ru">info@dieks.ru</a>,&nbsp;<a href="mailto:anodiexne@mail.ru">anodiexne@mail.ru</a>
    </p>
    <p>
    <strong>Адрес офиса:</strong> 125212, г.Москва, Кронштадтский бульвар 7А, 3 подъезд, 4 этаж, офис 406&nbsp;
    </p>
    <p>
    <strong>Почтовый адрес: </strong>125212, г.Москва, а/я 111&nbsp;
    </p>
    <p>
    <strong>Тел./факс:</strong>&nbsp;(495) 452-29-76, (495) 452-53-03, (495) 730-75-90, моб. +7(903)7104150<br />
    </p>
    <p>
    <strong>Время работы:</strong> пн-пт с 8:30 до 17:30
    </p>
    <br />
    <p>


<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=RURmSjtxY-kXqnD5s7Vdlyrj7xAWAmy7&width=600&height=450"></script>

    <p><strong><h3>Контактные лица:</h3></strong> (Нажмите на имя, чтобы отправить сообщение)</p>
    <ul class = 'contacts-list'>
    {% for c in contacts %}
        <li>
            <a id = 'send_mail_{{c.id}}_link' style = 'cursor: pointer'><u>{{c.name}}</u></a> - {{c.position}}
            {% if c.code %}&nbsp;/&nbsp;доб.&nbsp;{{c.code}} {% endif %}
            {% if c.email %} / email:&nbsp;<b>{{c.email}}</b> {% endif %}
        </li>
        <div style='display: none'>
            <div id="send_mail_{{c.id}}_dialog" title="Отправить сообщение">
                <form id = 'send_mail_{{c.id}}_form' method = 'post' action='/contacts/{{c.id}}/'>
                    <table class='email_dlg'>
                        <tr>
                            <th>Получатель:</th>
                            <td>{{c.name}}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td><h4>Заполните данные о себе</h4></td>
                        </tr>
                        {{mail_form.as_table}}
                        <input type='hidden' name='mail_to' value='{{c.email}}' />
                    </table>
                    <input type='hidden' name='action' value='email'>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    {% endfor %}
    </ul>
</div>

{% endblock %}
