{% extends 'base.html' %}
{% block content %}

<div class='contacts-container'>
    <p>
    <strong>E-mail: </strong><a href="mailto:info@dieks.ru">info@dieks.ru</a>,&nbsp;<a href="mailto:anodiexne@mail.ru">anodiexne@mail.ru</a>
    </p>
    <p>
    <strong>Адрес офиса:</strong> г. Москва, м.Водный стадион, Головинское ш., д. 8, корп. 2А, подъезд№1, 2 этаж &nbsp;
    </p>
    <p>
    <strong>Почтовый адрес: </strong>125212, г.Москва, а/я 111&nbsp;
    </p>
    <p>
    <strong>Тел./факс:</strong>&nbsp;(495) 452-29-76, (495) 452-53-03, (495) 730-75-90, моб. +7(903)7104150<br />
    </p>
    <p>
    <strong>Время работы:</strong> пн-пт с 8:30 до 17:30
    </p>
    <br />
    <p>


<div id="ymaps-map-id_133701845519668453742" style="width: 500px; height: 350px; margin: 10px auto"></div>
<script type="text/javascript" src="http://api-maps.yandex.ru/2.0/?coordorder=longlat&load=package.full&wizard=constructor&lang=ru-RU&onload=fid_133701845519668453742"></script>
<script type="text/javascript">function fid_133701845519668453742(ymaps) {var map = new ymaps.Map("ymaps-map-id_133701845519668453742", {center: [37.49285949999998, 55.839839260279554], zoom: 15, type: "yandex#map"});map.controls.add("zoomControl").add("mapTools").add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid", "yandex#publicMap"]));map.geoObjects.add(new ymaps.Placemark([37.492859, 55.838511], {balloonContent: 'АНО "Диэкс"<br/>подъезд№1, 2 этаж'}, {preset: "twirl#pinkDotIcon"}));};</script>

    <p><strong><h3>Контактные лица:</h3></strong> (Нажмите на имя, чтобы отправить сообщение)</p>
    <ul class = 'contacts-list'>
    {% for c in contacts %}
        <li>
            <a id = 'send_mail_{{c.id}}_link' style = 'cursor: pointer'><u>{{c.name}}</u></a> - {{c.position}}
            {% if c.code %}&nbsp;/&nbsp;доб.&nbsp;{{c.code}} {% endif %}
            {% if c.email %} / email:&nbsp;<b>{{c.email}}</b> {% endif %}
        </li>
        <div style='display: none'>
            <div id="send_mail_{{c.id}}_dialog" title="Отправить сообщение">
                <form id = 'send_mail_{{c.id}}_form' method = 'post' action='/contacts/{{c.id}}/'>
                    <table class='email_dlg'>
                        <tr>
                            <th>Получатель:</th>
                            <td>{{c.name}}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td><h4>Заполните данные о себе</h4></td>
                        </tr>
                        {{mail_form.as_table}}
                        <input type='hidden' name='mail_to' value='{{c.email}}' />
                    </table>
                    <input type='hidden' name='action' value='email'>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    {% endfor %}
    </ul>
</div>

{% endblock %}