*{
    margin: 0px;
    padding: 0px;
}

ul li
{
    margin-left: 60px;
}

body
{
    font-family: Helvetica, Sans-Serif;
    font-size:12px;
    background: #fff url('/static/bg.png');
    color: #222;
}

a
{
    color: #222;
}

.page-container
{
    background: #eee;
    width: 1000px;
    border: 5px solid #d9271b;
    margin: 5px auto;
}

.header
{
}

.header-top
{
    width: 100%;
    background: #eee url('/static/header_logo.png');
    height: 179px;
    z-index: 0;
}

.header-middle
{
    width: 100%;
/*     background: #fbfbfb url('/static/header-bg.jpg'); */
    height: 231px;
}

.header-bottom
{
    width: 100%;
/*     background: #fbfbfb; */
    height: 25px;
}

#headerBanners
{
    width: 699px;
    margin: 0 auto;
    height: 285px;
    z-index: 1;
}

.middle-content
{
    width: 100%;
    min-height: 400px;
}

.footer
{
    width: 100%;
    height: 50px;
    color: #0180c3;
    padding-top: 10px;
}

.footer a
{
    color: #9a2828;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

.clear
{
    clear: both;
}

h1
{
    margin-right: 20px;
    padding: 5px;
    padding-left: 30px;
    text-decoration: italic;
    font-size: 20px;
    color: #9a2828;
}

.menu
{
    clear: both;
    line-height: 35px;
    float: right;
}

.menu ul
{
    font-weight: bold;
    font-size: 15px;
    color: #000;
}

.menu ul li.selected a
{
    text-decoration: none;
    color: #9a2828;
}


.menu ul a
{
    text-decoration: none;
    color: #111;
}

.menu ul li
{
    list-style: none;
    margin: 10px;
    float: left;
}

.contacts-list
{
    margin-left: 20px;
}

.contacts-list li
{
    list-style: square;
    padding: 2px;
}

.errorlist
{
    color: #d9271b;
}

.contacts
{
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    background-color: #fff;
    margin-right: 20px;
    margin-top: 35px;
    padding: 20px;
    width: 210px;
    float: left;
}

div.rules
{
    height: 500px;
    overflow: auto;
}

.rule h2
{
    background-color: #eee;
    padding: 2px;
    color: #7bb31c;
    font-size: 18px;
    font-weight: normal;
}

.content-container
{
    float: left;
    width: 730px;
}


.content
{
    padding: 10px 20px;
    min-height: 500px;
    background-color: white;

    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.content-header
{
    margin-left: 280px;
}

.content p
{
    text-align: justify;
    margin-right: 20px;
}

.content p:first-letter
{
    margin-left: 30px;
}

.review
{
    margin-top: 20px;
    border: 1px solid blue;
    background-color: #fff;
    border: 1px solid #edf4e4;
}

.review h2
{
    background-color: #eee;
    padding: 2px;
    color: #9a2828;
    font-size: 18px;
    font-weight: normal;
    text-decoration: italic;
    height: 20px;
}

form table
{
    text-align: left;
}

.review h2 span
{
    color: #666;
    float: right;
}

.review p
{
    margin: 10px;
}

input
{
    border: 1px solid #edf4e4;
    padding: 5px;
    background-color: #eee;
    width: 100%;
}

textarea
{
    width: 100%;
    border: 1px solid #edf4e4;
    padding: 5px;
    background-color: #eee;
}

input.button
{
    width: 200px;
    border: 1px solid #edf4e4;
    padding: 5px;
    background: #9a2828;
    color: #fff;
}